.html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


.backgroundImage {
    background: url(https://i.postimg.cc/3NmhBY3r/space.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

