.html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}


.backgroundImage {
    background-image: url("../images/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}